*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(to left, lightblue, rgb(206, 145, 110));
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    color: rgb(244 67 54 / 66%);
    margin-top: 15px;
}
.container{
  background: rgba(255,255,255,.3);
    border-radius: 5px;
    height: 350px;
    width: 60%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.row{
    background: linear-gradient(to right, #6791a5, rgb(244 67 54 / 44%));
    border-radius: 5px;
}

.input, .select{
    padding: 10px;
    background: rgba(255,255,255,.0);
    border: none;
    font-size: 16px;
    outline: none;
}

#rate{
    font-size: 20px;
    color: rgba(58, 81, 92, 0.95);
    font-weight: 600;
    border-bottom: 4px dotted;
    margin-bottom: 10px;
}